*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
    background-color: rgb(236, 236, 236);
}

.general{
    background-color: rgb(236, 236, 236);
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0;
    padding: 0 3.5%;
    background-color: #E5050F;
}

.homeicon img{
    width: 130px;
    padding-top: 5px;
}
.homeicon img:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

header{
    margin-left: -20px;
    margin-right: -20px;
    width: auto;
}

.headermenulisttop {
    text-align: right;
    width: 85%;
}

.headermenulisttop a{
    padding: 10px;
    width: 80%;
    color: white;
    text-decoration: none;
    font: 700 16px sans-serif;
    padding: 3%;
}

.listtop {
    padding-bottom: 32px;
    padding-top: 20px;
}

.listbottom a{
   color: white;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 30px;
   text-shadow: 1px 1px 2px black;
}


.maincontentbg{
    width: 100%;
    height: 100%;
}
.maincontents{
    position: relative;
}
.trendheadtext strong1{
    color: yellow;
}
.trendheadtext{
    position: absolute;
    text-align: left;
    top: 30%;
    left: 10%;
    font: 700 6em arial;
    color: white;
    width: 60%;
    background-color: hsla(0, 0%, 0%, 60%);
}
.trendheadtext strong{
    color: #E5050F;
}
.trendimg img{
    width: 100%;
}
.trend h1{
    width: 100%;
}
.scrollinfo{
    margin: 5%;
    margin-top: 2%;
    background-color: rgb(194, 194, 194);
    box-shadow: 2px 2px 2px black;
}
.scrolltext h3{
    padding: 2.5%;
    font: 500 24px cambria;
}
.scrolltext hr{
    height: 3px;
    margin: 15px;
    background-color: #E5050F;
}

.separation{
    width: 100%;
    height: 20px;
    background-color: #E5050F;
    margin-top: 100px;
    margin-bottom: 100px;
}
.separation img{
    margin-left: 5%;
    width: 50px;
}
.news1bg{
    height: 350px;
    margin: 10%;
}
.news1{
    height: 100%;
}
.news1 h2{
    width: 100%;
    height: 30px;
    font: 700 26px arial;
    padding-left: 10px;
    padding-bottom: 10px;
}
.linksnews1 iframe{
    border-radius: 5px;
}
.linksnews1{
    display: flex;
    background-color: rgb(236, 236, 236);
    border-radius: 4px;
}
.rightbox{
    width: 50%;
    margin-left: 8%;
}
.ytchannel{
    margin-left: 10%;
    width: 50%;
    height: 100%;
}
.ytchannel img{
    width: 100%;
}
.toytchannel{
    font: 700 20px arial;
    padding-left: 8%;
    margin-top: 10px;
}
.news2{
    height: 350px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
}
.news2img{
    width: 60%;
    height: 100%;
}
.news2img img{
    width: 100%;
    height: 100%;
}
.news2text{
    width: 40%;
    background-color: white;
}
.news2text h3{
    margin: 8%;
    font: 700 2em cambria;
    color: rgb(59, 59, 59);
}
.news2text strong{
    color: black;
}
.news2text a{
    text-decoration: none;
}
.hardline{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #000000;
    border: none;
    height: 2px;
}
.news3{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
}
.news3img{
    width: 45%;
    height: 265px;
    background-color: white;
}
.news3img img{
    width: 100%;
    height: auto;
}
.textright{
    width: 50%;
    height: 265px;
    background-color: white;
}
.textright strong{
    margin: 5%;
    font: 800 2em cambria;
}
.textright h3{
    margin-left: 2%;
    margin-right: 2%;
    font: 600 24px cambria;
    word-spacing: 5px;
    color: rgb(59, 59, 59);
}
.textbottom{
    width: 95%;
    height: 200px;

    background-color: white;
}
.bottomtext h3{
    width: 100%;
    height: 100%;
    font: 600 24px cambria;
    word-spacing: 5px;
    color: rgb(59, 59, 59);
}
.bottomtext{
    margin-left: 15px;
    margin-right: 15px;
}
.bottomtext strong{
    color: rgb(0, 0, 0);
}

.news4{
    height: 500px;
    margin: 10%;
}
.news4head{
    margin-right: 20%;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    font: 800 2em cambria;
    text-align: center;
}
.news4img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.news4img img{
    width: 55%;
}
.news4text{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    font: 600 20px cambria;
    color: rgb(46, 46, 46);
}
.news4text h3{
    padding: 10px;
    background-color: white;
    text-align: justify;
}

.space{
    width: 100%;
    height: 50px;
}
.spacehr{
    height: 10px;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 2%;
    border: 0%;
    border: none;
}
.bgfooter{
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to bottom, rgb(236, 236, 236) 5% ,rgb(236, 236, 236) 5%, rgb(70, 70, 70) 60%);
    flex-wrap: wrap;
}
.footerimg{
    margin-bottom: 5%;
    width: 100%;
    height: 350px;
}
.footerimg img{
    margin-left: 10%;
    margin-right: 10%;
}

.feedbackbg{
    margin-left: 5%;
    margin-right: 5%;
    height: 300px;
}
.fbbg{
    font: 20px courier;
}
.nick{
    font: 20px calibri;
    margin: 15px;
}
.nickbox{
    width: 30%;
    height: 30px;
}
.feedback{
    font: 20px calibri;
    margin: 15px;
}
.feedbackbox{
    width: 50%;
    height: 100px;
}
.send{
    margin: 15px;
}
.sendbutton{
    width: 50px;
    height: 30px;
}
.sendbutton:hover{
    background-color: #E5050F;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    color: white;
}
.hrfinal{
    margin-top: 5%;
    margin-bottom: 10%;
}